.signup {
    background: lightblue;
    border: navy solid 2px;
    padding: 10px 20px 20px;
}

.signup h2 {
    text-align: center;
}

.signup form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
}

.signup input{
    font-size: 16px;
}

.signup input[type='submit'] {
    margin: 0 auto;
}